.light-theme {
    background-color: #f0f0f0; /* Set the background color for the light theme */
    color: #333; /* Set the text color for the light theme */
}

.dark-theme {
    background-color: #333; /* Set the background color for the dark theme */
    color: #f0f0f0; /* Set the text color for the dark theme */
}

.dark-theme #menuBar {
    background-color: #555;
	color: #333;
}

body {
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #f0f0f0;
	font-family: 'Roboto', sans-serif;
	transition: background-color 0.5s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#targetRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px; /* Add some space between the targetRow and the grid */
}

#targetColor {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    /*box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2), inset 0 0 8px rgba(255, 255, 255, 0.15), inset 0 0 12px rgba(255, 255, 255, 0.1);*/ /* Adjusted for a softer glow effect */
    border-radius: 8px;
}

.divider {
    height: 2px;
    width: 100%;
    background-color: #000; /* Set the color you prefer */
    margin: 10px 0; /* Adjust the margin as needed */
}

.non-clickable {
    pointer-events: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.square {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.square:not(#targetColor):hover {
    border-color: #888; /* Darker border on hover */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Subtle box-shadow on hover */
}

#gameControls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

#score, #timer, #cumulativeTimer {
    font-size: 22px;
    margin-top: 20px;
	margin-bottom: 15px;
    display: inline-block;
    margin-right: 10px; /* Add some right margin for spacing */
    border-right: 1px solid #ccc; /* Add a right border for division */
    padding-right: 10px; /* Add some padding for better spacing */
}

#cumulativeTimer {
	margin-right: 0px;
	border-right: none;
	padding-right: 0px;
}

#startButton, #stopButton {
    font-size: 22px;
    padding: 10px 20px;
    background-color: #867571;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	margin: 10px 8px; /* Adjusted margin for space between buttons */
}

#stopButton {
    background-color: #D82222;
	margin: 0 8px; /* Adjusted margin for space between buttons */
}

/* Modal styles */
#summaryContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the alpha channel for opacity */
    z-index: 1;
}

.dark-theme #summaryContainer {
    background-color: rgba(25, 25, 25, 0.9); /* Light theme modal background color */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
	width: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dark-theme .modal-content {
    background-color: #333; 
    color: #f0f0f0;
}

#summaryModal h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}

#summaryModal p {
    font-size: 16px;
    margin-bottom: 10px;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #333;
}

#menuBar {
    background-color: #333; /* Darker background color */
	overflow: hidden;
    width: 100%; /* Make the menu bar full-width */
	box-sizing: border-box; /* Include padding and border in the total width */
	padding: 10px;
    padding-left: 30px;
	padding-right: 30px;
    display: flex;
    justify-content: space-between; /* Align items to both ends */
}

/* Remove border and box-shadow for the input field */
#menuBar input {
    border: none;
    box-shadow: none;
    padding: 2px; /* Add some padding for better aesthetics */
	padding-left: 10px;
	outline: none; /* Remove the outline when clicked */
}

/* Optional: Add a subtle border when not focused */
#settingsBar input:not(:focus) {
    border: 1px solid #ccc;
}

.menuIcon {
    cursor: pointer;
	margin-top: 4px;
}

#themeToggle {
    margin-left: auto; /* Use margin-left: auto to push it to the right */
}

#clearBestScoreButton {
    padding: 8px 16px;
    background-color: #867571;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	margin-left: 10px;
}

/* Center the menu on mobile devices */
@media only screen and (max-width: 600px) {
    #score, #timer, #cumulativeTimer {
        font-size: 16px; /* Adjust the font size to your preference */
    }
}